@import '_settings';
@import '_config';
@import '_mixins';
body {
    margin: 0;
    padding: 0;
}

#mainContent {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    width: $width;
    height: $height;
    cursor: pointer;
    display:none;
    background: $backgroundColor ;
    background-size:cover;
    img,div{
        position: absolute;
    }
}
.hide{
    opacity:0;
}
#logo{
    top: 1px;
    left: 72px;
}

#stripes{
    width: 4800px;
    height: 2400px;
    top: -385px;
    left: -553px;
    background: url(../img/stripes.svg) repeat-x  #c42942;
    transform: translateX(150px);
   
}

// .shadow{
//     width: 180px;
//     height: 230px;
//     top: 0px;
//     left: 47px;
//     box-shadow: 29px 0px 15px 25px rgba(0,0,0,0.74)
// }
#imageContainer{
    width:1622px;
    height: 232px; 
    transform: rotate(-24deg);
    top: -145px;
    left: -24px;
}  
.imgSprite { 
    width:1622px;
    height: 232px; 
    background: url('../img/imgSprite.jpg') no-repeat;
    transform: translateX(340px);
    box-shadow:  1px 1px 15px rgba(0, 0, 0, 0.5);

}
#endframeImg{
    width:227px;
    height: 232px; 
    top: 0px;
    left: 1394px;
    transform: rotate(0deg);
}
#imageSeven{
    width:227px;
    height: 232px; 
    transform: translateX(300px);
}
    #imageOne{ 
        width: 227px; background-position: 0 0 ;
    }
    #imageTwo{ 
        width: 467px;
    }
    #imageThree{ 
        width: 693px;
    }
    #imageFour{ 
        width: 931px;
    }
    #imageFive{ 
        width: 1166px;
    }
    #imageSix{ 
        width: 1396px;
    }
    
.products{
    width: 121px;
    height: 160px;
    top: 325px;
    left: 91px;
    background: url("../img/products.png");
}
#productOne {
    background-position: 0 -738px; }
  
  #productTwo {
    background-position: 0 -564px; }
  
  #productThree {
    background-position: 0px -1286px; }
  
  #productFour {
    background-position: 0 -1111px; }
  
  #productFive {
    background-position: 0 -934px; }

.topctaSpritesheet{
    background: url(../img/topctaSpritesheet.svg) no-repeat;
    width: 170px;
    height: 150px;
   
}
.topcta{
    width:165px;
    height: 31px;
    top: 520px;
    left: 67px;
    background-color: #fff;
}
#topctaOne{  
    height: 25px;
    background-position: 20px 5px;
}
#topctaTwo{  
    height: 28px;
    background-position: 23px -28px;
}
#topctaThree{  
    height: 28px;
    background-position: 18px -61px;
}
#topctaFour{  
    height: 28px;
    background-position: 2px -93px;
}
#topctaFive{  
    height: 28px;
    background-position: -2px -123px;
}
#cta{
    width: 165px;
    height: 48px;
    top: 551px;
    left: 67px;
    background-color: #c42942;
    border: 1px solid #fff;
   
}
#ctaCopy{
    left: 17px;
    top: 7px;
}
#bgExit {
    width: $width;
    height: $height;
    cursor: pointer;
    border: 1px solid #cccccc;
}